tickTime=2000
dataDir={{ zookeeper_data_dir }}
logDir={{ zookeeper_log_dir }}
clientPort=2181
initLimit=5
syncLimit=2
#server.1=192.168.0.53:2888:3888
#server.2=&lt;ZooKeeper_iP/hostname&gt;:2888:3888
#server.3=&lt;ZooKeeper_iP/hostname&gt;:2888:3888

